<div class="row">
    <div class="col text-center" style="font-size: 10px; color: #777;">
        Esta conversación se mantendrá activa hasta cuando el usuario de "finalizar chat".

    </div>
</div>
<div class="row p-1 text-center">
    <div class="d-flex justify-content-center">

        <div style="width: 75%; height: 76vh; border: 1px solid #ccc; border-radius: 15px; overflow-y: scroll;" id="msj-id">
            
            <div class="" *ngFor="let f of dataMensajes">
                <div class="" *ngFor="let m of f.mensajes">
        
                    <div class="d-flex w-100"
                        [ngClass]="{'justify-content-end': m.uid != uid, 'justify-content-start': m.uis == uid}">
        
        
                        <div style="width:75%;" class="mt-1"
                            [ngClass]="{'text-end ms-1': m.uid != uid, ' ms-3 text-start': m.uid == uid}">
                            <span style="border-radius: 12px;" class="p-1 text-white badge"
                                [ngClass]="{'bg-primary text-end': m.uid !== uid, 'bg-success text-start' : m.uid === uid, 'text-wrap text-break': (m.mensaje.length > 15 || mensaje.length > 15)}">
                                {{ m.mensaje }}
        
                            </span>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col border rounded" style="min-height: 77vh !important; overflow-y: scroll">
    </div> -->
</div>
<div class="row border-top p-1">
    <div class="d-flex justify-content-center">

        <div class="border rounded "  style="min-height: auto !important; width: 76% !important;">
            <form [formGroup]="mensajesGroup" (ngSubmit)="enviarMensaje(mensajesGroup)" class="row p-1">
                <!-- <div class="row p-1"> -->
                    <div class="col-md-10">
                        <textarea class="message-input" formControlName="mensaje" placeholder="Escriba un mensaje....."></textarea>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="message-submit">
                                <i class="pi pi-send" style="font-size: 29px;"></i>
                            </button>
                        </div>
                    </div>
                <!-- </div> -->
            </form>
        </div>
    </div>
</div>