<app-navbar></app-navbar>
<!--   
<div class="container marketing">
    <br>
    <h1 style="text-align:center">PERFILES DE USUARIOS</h1>
    <br>
    < Three columns of text below the carousel >
    <div class="row">
      <div class="col-lg-6">
        <img src='assets/img/user1.png' class='bd-placeholder-img rounded-circle' width="140" height="140"/>
        <h2>ADMINISTRADOR</h2>
       
        <p><a class="btn btn-secondary"routerLink="/login" >INICIAR SECCION </a></p>
      </div>< /.col-lg-4 >
      <div class="col-lg-4">
        <img src='assets/img/admin1.png' class='bd-placeholder-img rounded-circle' width="140" height="140"/>

        <h2> ADMINISTRADOR DE ASILOS</h2>
     
        <p><a class="btn btn-secondary" routerLink="/login">INICIAR SECCION</a></p>
      </div>< /.col-lg-4 >
     
    </div>< /.row -->
    <section class="wrapper">
      <div class="container">
          <div>
              <br>
              <h1 class="heading" align="center" >
                  Perfiles de Usuarios !!
              </h1>
          </div>
          <br>
          <br>

          
              <div class="container">
                  <div class="row">
                    <div class="col-6">
                   
                          <div class="card"  >
                              
                              <a class="img-card" >
                                <img src='assets/img/admin.png' alt="admin" loading="lazy"  />
                            </a>
                              <div class="card-content">
                                  <h4 class="card-title" align="center">
                                      <a >ADMINISTRADOR
                                    </a>
                                  </h4>
                            
                              </div>
                              
                              <div class="card-read-more" align="center">
                                  <a [routerLink]="['/login']" class="btn btn-link btn-block">
                                    INICIAR
                                  </a>
                              </div>
                      </div>
                   </div>
                   <div class="col-6">
                   
                    <div class="card" >
                        <a class="img-card">
                          <img src='assets/img/admin3.png' alt="asilo" loading="lazy" />
                      </a>
                        <div class="card-content">
                            <h4 class="card-title" align="center">
                                <a >ADMINISTRADOR DEL ASILO
                              </a>
                            </h4>
                      
                        </div>
                        
                        <div class="card-read-more" align="center">
                            <a routerLink="/login" class="btn btn-link btn-block">
                              INICIAR
                            </a>
                        </div>
                </div>
             </div>
                </div>
              </div>
        
      </div>
  </section>
  