<div class="row">
    <div clss="col">
        <img [src]="urlimg"  alt="imagen" width="200"/>
    </div>
</div>
<div class="row mt-4">
    <div clss="col">
        <input class="form-control" type="file" accept="image/png, image/jpg, image/jpeg" name="file" id="file" (change)="cambiarIMG($event)">
        <!-- <input type="file" accept="image/png, image/jpg, image/jpeg" (change)="cambioImagen($event)"> -->
    </div>
</div>
<div class="row mt-4">
    <div class="col" style="text-align: end;">
        <button type="button" class="btn btn-success" (click)="guardar()">Guardar</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-warning" (click)="cerrar(false)">Cancelar</button>
    </div>
</div>
