<div class="back d-flex justify-content-center align-items-cente " >
    <div class="d-flex justify-content-center align-items-center text-white">
        <div style="width: 60%;">
            <div class="row">
                <label class="h5">
                    Proforma
                </label>
                <br />
                
            </div>
            <div class="row">
                <p class="lead">
                    La proforma tiene la finalidad de dar a conocer los precios, los cuáles estan representados por servicios generales o principales de los asilos. 
                </p>
            </div>
            <div class="row mt-3">
                <div class="col text-end">
                    <button class="btn btn btn-primary" routerLink="/p/proforma" type="button">Saber Mas..</button>
                </div>
                <div class="col text-start">
                    <button class="btn btn btn-danger" routerLink="/" type="button">Regresar</button>

                </div>
            </div>
        </div>
    </div>
</div>
